<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/@inkline/inkline/dist/inkline.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>MEVN</title>
</head>
<body>
    <div id="app">
        <i-container>
            <i-row>
                <i-column>
                    <h1 class="_text-center">
                        MongoDB + Express.js + Vue.js + Node.js
                    </h1>
                </i-column>
            </i-row>
            <i-row>
                <i-column>
                    <p>Dark Mode Switcher</p>
                    <i-button @click="toggleDarkMode">
                        <i-icon icon="light" />
                    </i-button>
                </i-column>
            </i-row>
        </i-container>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@inkline/inkline/dist/inkline.js"></script>
    <script>
        new Vue({ 
            el: '#app',
            methods: {
                toggleDarkMode() {
                    this.$inkline.config.variant = this.$inkline.config.variant === 'light' ? 'dark' : 'light';
                }
            }
        });
    </script>
</body>
</html>